<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" interfaceClass="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<sectionGroup name="applicationSettings" interfaceClass="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="com.espertech.esper.compat.CompatSettings" interfaceClass="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
	<applicationSettings>
		<com.espertech.esper.compat.CompatSettings>
   <setting name="UseDefaultSearchPath" serializeAs="String">
    <node>True</node>
   </setting>
   <setting name="DefaultLockType" serializeAs="String">
    <node>MonitorLock</node>
   </setting>
   <setting name="MonitorLockTimeout" serializeAs="String">
    <node>5000</node>
   </setting>
   <setting name="ReaderLockTimeout" serializeAs="String">
    <node>5000</node>
   </setting>
   <setting name="WriterLockTimeout" serializeAs="String">
    <node>5000</node>
   </setting>
   <setting name="DefaultThreadLocalType" serializeAs="String">
    <node>Xper</node>
   </setting>
   <setting name="DefaultReaderWriterLockType" serializeAs="String">
    <node>Slim</node>
   </setting>
  </com.espertech.esper.compat.CompatSettings>
	</applicationSettings>
	<log4net>
		<!-- Define some output appenders -->
		<appender name="Console" interfaceClass="log4net.Appender.ConsoleAppender">
			<layout interfaceClass="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" node="[NEsper] %date{ISO8601} [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="FileAppender" interfaceClass="log4net.Appender.FileAppender">
			<param name="File" node="NEsperLog.txt"/>
			<param name="AppendToFile" node="false"/>
			<layout interfaceClass="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" node="[NEsper.Tests] %date{ISO8601} [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level node="WARN"/>
			<appender-ref ref="File"/>
		</root>
	</log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
