<?xml version="1.0" encoding="utf-8"?>
<packages>

  <package id="Antlr4" version="4.3.0" targetFramework="net45" />
  <package id="Antlr4.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.0" targetFramework="net45" />
  <package id="Nito.KitchenSink.CRC" version="1.1.0" targetFramework="net45" />
  <package id="Sharpen" version="1.0.0.3" targetFramework="net45" />
  <package id="XLR8.CGLib" version="1.0.2" targetFramework="net45" />
</packages>