version: 2.1

orbs:
  win: circleci/windows@5.0

jobs:
  build:
    executor: win/default

    steps:
      - checkout
      - run: dotnet restore NEsperAll.sln
      - run: msbuild NEsper.proj
      - store_artifacts:
          path: build/NEsper-8.5.7.zip
      - store_artifacts:
          path: build/packages
