<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="esper-configuration" type="com.espertech.esper.util.EsperSectionHandler, NEsper"/>
	</configSections>
	
  <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>

  <esper-configuration>
    <database-reference name="db1">
      <driver type="MySQL" connection-string="Server=mysql-server;Database=test;Uid=esper;Pwd=3sp3rP@ssw0rd"/>
      <connection-settings auto-commit="false" catalog="test" read-only="true" transaction-isolation="ReadCommitted"/>
      <connection-lifecycle node="pooled"/>
      <lru-cache size="1000"/>
      <column-change-case node="lowercase"/>
      <metadata-origin node="sample"/>
    </database-reference>

    <database-reference name="db2">
      <driver type="ODBC" connection-string="Driver={MySQL ODBC 5.3 Unicode Driver};Server=mysql-server;Database=test;User=esper;Password=3sp3rP@ssw0rd;Option=3;"/>
      <connection-settings auto-commit="false" catalog="test" read-only="true" transaction-isolation="ReadCommitted"/>
      <connection-lifecycle node="retain"/>
      <lru-cache size="1000"/>
      <column-change-case node="uppercase"/>
      <metadata-origin node="metadata"/>
    </database-reference>

		<engine-settings>
			<defaults>
				<threading>
					<listener-dispatch preserve-order="false" timeout-msec="2000" locking="suspend"/>
					<insert-into-dispatch preserve-order="false" timeout-msec="3000" locking="suspend"/>
					<internal-timer enabled="false" msec-resolution="1234567"/>
					<thread-local style="fast"/>
				</threading>
				<event-meta>
					<class-property-resolution style="distinct_case_insensitive"/>
				</event-meta>
				<view-resources>
					<share-views enabled="false"/>
				</view-resources>
				<logging>
					<execution-path enabled="true"/>
				</logging>
				<variables>
					<msec-version-release node="30000"/>
				</variables>
			</defaults>
		</engine-settings>
	</esper-configuration>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
