<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="esper-configuration" type="com.espertech.esper.util.EsperSectionHandler, NEsper" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="com.espertech.esper.compat.CompatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <com.espertech.esper.compat.CompatSettings>
      <setting name="UseDefaultSearchPath" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchPath" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>..\..\..\..\etc</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DefaultLockType" serializeAs="String">
        <value>MonitorLock</value>
      </setting>
    </com.espertech.esper.compat.CompatSettings>
  </applicationSettings>
  <esper-configuration>
    <engine-settings>
      <defaults>
        <threading>
          <listener-dispatch preserve-order="false" timeout-msec="2000" locking="suspend" />
          <insert-into-dispatch preserve-order="false" timeout-msec="3000" locking="suspend" />
          <internal-timer enabled="false" msec-resolution="1234567" />
          <thread-local style="fast" />
        </threading>
        <event-meta>
          <class-property-resolution style="distinct_case_insensitive" />
        </event-meta>
        <view-resources>
          <share-views enabled="false" />
        </view-resources>
        <logging>
          <execution-path enabled="true" />
        </logging>
        <variables>
          <msec-version-release value="30000" />
        </variables>
      </defaults>
    </engine-settings>
  </esper-configuration>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{ISO8601} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="Console" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.12217" newVersion="2.6.1.12217" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
