<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- Define some output appenders -->
	<appender name="Console" interfaceClass="log4net.Appender.ConsoleAppender">
		<layout interfaceClass="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" node="[NEsper.Tests] %date{ISO8601} [%thread] %-5level %logger - %message%newline"/>
		</layout>
	</appender>

	<appender name="File" interfaceClass="log4net.Appender.FileAppender">
		<param name="File" node="NEsper.Log.txt"/>
		<param name="AppendToFile" node="false"/>
		<layout interfaceClass="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" node="[NEsper.Tests] %date{ISO8601} [%thread] %-5level %logger - %message%newline"/>
		</layout>
	</appender>

	<!-- Setup the root category, add the appenders and set the default priority -->
	<root>
		<level node="INFO"/>
		<appender-ref ref="File" />
	</root>

  <logger name="com.espertech.esper.core.service.UpdateDispatchFutureSpin">
    <level node="DEBUG" />
  </logger>

  <logger name="com.espertech.esper.dispatch.DispatchServiceImpl">
    <level node="DEBUG" />
  </logger>
  
  <logger name="com.espertech.esper.multithread">
    <level node="DEBUG" />
  </logger>
  
	<logger name="com.espertech.esper.audit">
		<level node="INFO" />
	</logger>
	
	<logger name="com.espertech.esper.queryplan">
		<level node="INFO" />
	</logger>
	
	<logger name="com.espertech.esper">
		<level node="ERROR" />
	</logger>
</log4net>