<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="esper-configuration" type="com.espertech.esper.util.EsperSectionHandler, NEsper"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="com.espertech.esper.compat.CompatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<applicationSettings>
		<com.espertech.esper.compat.CompatSettings>
			<setting name="UseDefaultSearchPath" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="SearchPath" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>..\..\..\etc</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="DefaultLockType" serializeAs="String">
				<value>MonitorLock</value>
			</setting>
		</com.espertech.esper.compat.CompatSettings>
	</applicationSettings>
	<esper-configuration>
		<!-- Database: MySQL -->
		<!--
    <database-reference name="db1">
      <driver type="MySQL" connection-string="Server=localhost;Database=test;Uid=nesper;Pwd=password" />
      <connection-lifecycle value="pooled"/>
      <lru-cache size="10"/>
      <column-change-case value="lowercase"/>
      <metadata-origin value="sample" />
    </database-reference>

    <database-reference name="db2">
      <driver type="ODBC" connection-string="Driver={MySQL ODBC 3.51 Driver};Server=localhost;Database=test;User=nesper;Password=password;Option=3"/>
      <connection-settings auto-commit="false" catalog="test" read-only="true" transaction-isolation="ReadCommitted" />
      <connection-lifecycle value="retain"/>
      <expiry-time-cache max-age-seconds="60.5" purge-interval-seconds="120.1" ref-type="hard"/>
      <column-change-case value="uppercase"/>
      <metadata-origin value="metadata" />
    </database-reference>
    -->
		<!-- Database: SQLServer -->
		<database-reference name="db1">
			<driver type="SqlServer" connection-string="Server=(local);Database=tempdb;Trusted_Connection=True;"/>
			<connection-settings auto-commit="false" catalog="test" read-only="true" transaction-isolation="ReadCommitted"/>
			<connection-lifecycle value="pooled"/>
			<lru-cache size="1000"/>
			<column-change-case value="lowercase"/>
			<metadata-origin value="metadata"/>
		</database-reference>
		<database-reference name="db2">
			<driver type="ODBC" connection-string="Driver={SQL Server Native Client 10.0};Server=(local);Database=tempdb;Trusted_Connection=Yes"/>
			<connection-settings auto-commit="false" catalog="test" read-only="true" transaction-isolation="ReadCommitted"/>
			<connection-lifecycle value="retain"/>
			<lru-cache size="1000"/>
			<column-change-case value="uppercase"/>
			<metadata-origin value="metadata"/>
		</database-reference>
		<engine-settings>
			<defaults>
				<threading>
					<listener-dispatch preserve-order="false" timeout-msec="2000" locking="suspend"/>
					<insert-into-dispatch preserve-order="false" timeout-msec="3000" locking="suspend"/>
					<internal-timer enabled="false" msec-resolution="1234567"/>
					<thread-local style="fast"/>
				</threading>
				<event-meta>
					<class-property-resolution style="distinct_case_insensitive"/>
				</event-meta>
				<view-resources>
					<share-views enabled="false"/>
				</view-resources>
				<logging>
					<execution-path enabled="true"/>
				</logging>
				<variables>
					<msec-version-release value="30000"/>
				</variables>
			</defaults>
		</engine-settings>
	</esper-configuration>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
				<arg key="configType" value="FILE"/>
				<arg key="configFile" value="log4net.config"/>
			</factoryAdapter>
		</logging>
	</common>
</configuration>
