<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- Define some output appenders -->
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="[NEsper.Tests] %date{ISO8601} [%thread] %-5level %logger - %message%newline"/>
		</layout>
	</appender>

	<appender name="File" type="log4net.Appender.FileAppender">
		<param name="File" value="NEsper.Log.txt"/>
		<param name="AppendToFile" value="false"/>
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="[NEsper.Tests] %date{ISO8601} [%thread] %-5level %logger - %message%newline"/>
		</layout>
	</appender>

	<!-- Setup the root category, add the appenders and set the default priority -->
	<root>
		<level value="INFO"/>
		<appender-ref ref="File" />
	</root>

	<!--
	<logger name="com.espertech.esper.audit">
		<level value="INFO" />
	</logger>
	
	<logger name="com.espertech.esper.queryplan">
		<level value="INFO" />
	</logger>
	
	<logger name="com.espertech.esper">
		<level value="ERROR" />
	</logger>
	-->
</log4net>