<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="esper-configuration" type="com.espertech.esper.util.EsperSectionHandler, NEsper"/>
  </configSections>
  <esper-configuration>
    <engine-settings>
      <defaults>
        <threading>
          <listener-dispatch preserve-order="false" timeout-msec="2000" locking="suspend"/>
          <insert-into-dispatch preserve-order="false" timeout-msec="3000" locking="suspend"/>
          <internal-timer enabled="false" msec-resolution="1234567"/>
          <thread-local style="fast"/>
        </threading>
        <event-meta>
          <class-property-resolution style="distinct_case_insensitive"/>
        </event-meta>
        <view-resources>
          <share-views enabled="false"/>
        </view-resources>
        <logging>
          <execution-path enabled="true"/>
        </logging>
        <variables>
          <msec-version-release value="30000"/>
        </variables>
      </defaults>
    </engine-settings>
  </esper-configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.12217" newVersion="2.6.1.12217"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
